/******************************  RESET ******************************/
p,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/****************************** GLOBAL RULES ******************************/

/**** 1 - Import Oswald font ****/
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

/**** 2 - Define colors and font for the whole body ****/
body {
  --orange: #e8a144;
  --orange2: #ff9e23;
  --orange3: #ffdfb1;
  --white: #ffffff;
  --grey: #dbdbdb;
  --grey2: #f1f1f1;
  --grey3: #f0f0f0;
  font-family: "Oswald", sans-serif;
}

/**** 3 - Define the container that will be used for all the pages ****/
.container {
  padding: 1rem 4rem;
  min-width: 740px;
}

/**** 4 - Define some reccurent rules ****/

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexrowb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  border-radius: 50px;
  width: 100px;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  background-color: var(--orange);
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HEADER */

/* FRONT OFFICE */

/* CHECKBOX */

.checkbox {
  border: 1px solid var(--grey);
  border-radius: 5px;
  box-shadow: 0px 2px 1px var(--grey);
  flex: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* BACK OFFICE */

.lineHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  background-color: var(--orange);
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.line {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 100%;
  border-bottom: 3px solid var(--grey);
}

.lineLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  padding: 1rem;
  height: 60%;
}

/* FOOTER */
